.info-services {
  padding: 3.2rem;
  display: none;
}

.heading-tertiary {
  font-size: 3.2rem;
  color: var(--main-color);
  text-transform: uppercase;
}

.services-types {
  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.services-types div {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem 0;
}

.services-types input {
  height: 2.4rem;
  width: 2.4rem;
  /* padding: 1rem; */
  display: inline-block;
}
.services-types label {
  font-size: 2.4rem;
  padding-left: 2rem;
  /* padding: 1rem; */
  display: inline-block;
}

.btn-next,
.btn-next:link,
.btn-next:visited {
  border: none;
  font-size: 2.4rem;
  color: #fff;
  font-weight: 400;
  background-color: var(--main-color);
  padding: 1.8rem 4.8rem;
  border-radius: 3rem;
  display: inline-block;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);

  transition: all 0.2s;
}

.btn-next:hover {
  cursor: pointer;
  transform: translateY(-0.4rem);
  box-shadow: 0 0.8rem 3rem rgba(0, 0, 0, 0.1);
  color: var(--main-color);
  background-color: #fff;
}
