.info-date {
  padding: 3.2rem;
  display: none;
}

.heading-tertiary {
  font-size: 3.2rem;
  color: var(--main-color);
  text-transform: uppercase;
}

.calendar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-next,
.btn-next:link,
.btn-next:visited {
  border: none;
  font-size: 2.4rem;
  color: #fff;
  font-weight: 400;
  background-color: var(--main-color);
  padding: 1.8rem 4.8rem;
  border-radius: 3rem;
  display: inline-block;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);

  transition: all 0.2s;
}

.btn-next:hover {
  cursor: pointer;
  transform: translateY(-0.4rem);
  box-shadow: 0 0.8rem 3rem rgba(0, 0, 0, 0.1);
  color: var(--main-color);
  background-color: #fff;
}
