.barberos-main {
  padding: 0 5%;
  margin-bottom: 10rem;
}

.page-title {
  text-align: center;
  color: #ff8c00;
  color: #ddd;
  margin: 3rem 0;
}

/* //////////////// */
/* //////////////// */
/* MEDIA QUERIES */
/* /////////////// */
/* /////////////// */

@media (min-width: 1024px) {
  .barberos-main {
    padding: 0 12%;
  }
}

@media (min-width: 1280px) {
  .page-title {
    font-size: 3rem;
    font-size: var(--page-title-size);
    margin: 5rem 0;
    margin-top: 15rem;
  }
}

@media (min-width: 1440px) {
  .barberos-main {
    padding: 0;
  }

  .page-title {
    font-size: 3.6rem;
  }
}
