.hero-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  height: calc(100vh - 100px);
}

.hero-description-btn {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  color: #fff;

  position: absolute;
  top: 50%;
  bottom: 50%;
  z-index: 2;
}

.hero-description-btn p {
  font-size: 3.2rem;
  font-weight: 700;
}

.hero-description-btn button {
  flex: 1 0 auto;
  flex-grow: 1;
  width: 25rem;
  margin: 0;
}

.hero-img {
  width: 100%;
  display: none;
}

.section-title {
  color: #444;
  color: var(--secondary-color);
  font-size: 2.8rem;
  font-weight: 600;
  padding: 4rem;
  text-align: center;
}

.btn {
  font-size: 1.6rem;
  padding: 1.6rem 2rem;
  border: none;
}

.btn-appointment {
  width: 100%;
  max-width: 30rem;
  background-color: #c87d24;
  background-color: var(--main-color-dark);
  color: #fff;
  font-size: 2.2rem;
  margin-top: 20px;
}

.appointment-div {
  display: flex;
  justify-content: center;
}

.location-img {
  width: 100%;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  height: fit-content;
  width: 100%;
  background-color: #ebebeb;
  padding: 2rem;
}

.testimonial-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 7rem;
  height: 10rem;
  flex-grow: 30%;
  margin-right: 2rem;
}

.testimonials p {
  width: 70%;
}

.testiomnials-dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  width: 100%;
}

@media (max-width: 480px) {
  .hero-description-btn {
    display: none;
  }

  .hero-section {
    height: 40%;
  }
}

@media (min-width: 480px) {
  .appointment-div {
    display: none;
  }
}

@media (min-width: 768px) {
  .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .appointment-div {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hero-description-btn {
    width: 90%;
    flex-direction: row;
  }

  .location-img {
    width: 90%;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .hero-description-btn {
    width: 75%;
  }

  .location-img {
    width: 70%;
  }
}
