.carousel {
  position: relative;
}

.carousel-img {
  width: 100%;
}

.hero-section {
  background-image: linear-gradient(rgba(153, 51, 20, 0.2), rgba(71, 0, 0, 0.2)),
    url('../Assets/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  height: calc(100vh - 100px);
  /* color: white; */

  display: none;
}

.hero-description-btn {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  color: #fff;
}

.hero-description-btn p {
  /* width: 60%; */
  /* flex: 1 0 auto; */
  font-size: 3.2rem;
  font-weight: 700;
}

.hero-description-btn button {
  flex: 1 0 auto;
  flex-grow: 1;
  /* width: 40%; */
  width: 25rem;
  margin: 0;
}

.hero-img {
  width: 100%;
  display: none;
}

.carousel-circles {
  position: absolute;
  bottom: 10px;
  left: 50%;
  right: 50%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.carousel-circles svg {
  color: #fff;
  height: 2rem;
  width: 2rem;
}

.section-title {
  color: #444;
  color: var(--secondary-color);
  font-size: 2.8rem;
  font-weight: 600;
  /* margin: 20px 0 5px 20px; */
  padding: 4rem;
  text-align: center;
}

.btn {
  font-size: 1.6rem;
  padding: 2rem;
  border: none;
  /* font-family: 'Noto Serif', sans-serif; */
}

.btn-appointment {
  width: 90%;
  background-color: #c87d24;
  background-color: var(--main-color-dark);
  color: #fff;
  font-size: 2.6rem;
  /* margin: 0 5%; */
  margin-top: 20px;
}

.appointment-div {
  display: flex;
  justify-content: center;
}

.location-img {
  width: 100%;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  height: fit-content;
  width: 100%;
  background-color: #ebebeb;
  padding: 2rem;
  /* gap: 1.5rem; */
}

.testimonial-img {
  /* background-image: url('https://unsplash.com/es/fotos/kVg2DQTAK7c'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 7rem;
  /* height: 7rem;
  border-radius: 100%; */
  height: 10rem;
  flex-grow: 30%;
  margin-right: 2rem;
}

.testimonials p {
  /* font-size: 1.8rem; */
  /* flex-grow: 70%; */
  width: 70%;
}

.testiomnials-dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  width: 100%;
}

@media (min-width: 768px) {
  .carousel-img {
    display: none;
  }

  .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .appointment-div {
    display: none;
  }

  .carousel-circles {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hero-description-btn {
    width: 90%;
    flex-direction: row;
  }

  .location-img {
    width: 90%;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .hero-description-btn {
    width: 75%;
  }

  .location-img {
    width: 70%;
  }
}
