/* ////////// */
/* LOGIN AND REGISTER */
/* ////////// */
.loginRegisterTitle {
  font-size: 2.6rem;
  color: #ff8b00;
  text-align: center;

  margin-top: 40px;
  margin-bottom: 15px;
}

.loginRegisterBtnsContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
}

.loginRegisterBtn {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  cursor: default;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);

  width: 100%;
  background-color: white;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
}

.loginRegisterBtnActive {
  font-size: 2rem;
  font-weight: bold;
  color: #ff8b00;
  border: none;
  border-bottom: solid 1px #ff8b00;
  cursor: default;

  width: 100%;
  background-color: white;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
}

.loginRegisterBtn-text {
  text-decoration: none;
  color: inherit;
}

/* ////////// */
/* LOGIN */
/* ////////// */

/* ////////// */
/* FORM */
/* ////////// */
.loginForm {
  font-size: 1.8rem;

  width: 90%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
}

.loginForm div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.loginForm div label {
  margin-bottom: 0.8rem;
}

.loginForm div input {
  height: 3.5rem;
  background-color: #ebebeb;
  border: 1px solid black;
}

.loginForm button {
  font-size: 1.8rem;
  color: white;
  background-color: #ff8b00;
  cursor: pointer;

  height: 4rem;
  border: none;
}

.labelRecordarme {
  font-size: 1.6rem;

  align-self: center;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

/* ////////// */
/* REGISTER */
/* ////////// */

/* ////////// */
/* FORM */
/* ////////// */
.registerForm {
  font-size: 1.8rem;

  width: 90%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
}

.registerForm div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.registerForm div label {
  margin-bottom: 0.8rem;
}

.registerForm div input {
  height: 3.5rem;
  background-color: #ebebeb;
  border: 1px solid black;
}

.registerForm button {
  font-size: 1.8rem;
  color: white;
  background-color: #ff8b00;
  cursor: pointer;

  height: 4rem;
  border: none;
  margin-top: 1.5rem;
}

/* ////////// */
/* MEDIA QUERIES */
/* ////////// */
@media (min-width: 1024px) {
  .loginRegisterBtnsContainer {
    width: 90rem;
  }
  /* ////////// */
  /* LOGIN */
  /* ////////// */
}

@media (min-width: 768px) {
  /* ////////// */
  /* LOGIN */
  /* ////////// */
  .loginForm {
    width: 65rem;
  }
  .registerForm {
    width: 65rem;
  }
}
