.main {
  padding: 0 5rem;
}

.heading-primary {
  padding-top: 2rem;
  color: #efb810;
  font-weight: 600;
  text-align: center;
}

.heading-secondary {
  font-size: 22px;
}

.services-title {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
}

.section-services--pc {
  padding: 10px 25px;
}

.services-service {
  margin: 26px auto;
}

.services-service div img {
  max-width: 100%;
  height: auto;
}

.services-service div:first-child {
  position: relative;
}

.services-service div:first-child:after {
  content: '$1000';
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -6%;
  right: -5%;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  background-color: #efb810;
  padding: 10px 20px;
}

.services-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
}

.section-services--pc {
  display: none;
}

@media (min-width: 768px) {
  .main {
    background-color: #fff;
  }

  .section-services--mobile {
    display: none;
  }

  .section-services--pc {
    display: block;
    max-width: 114rem;
    margin: auto;
  }

  .services-service--pc {
    display: flex;
    height: 75rem;
    margin-bottom: 6rem;
  }

  .img-pc--right {
    background-image: url('../../public/barber-cut-7.avif');
    width: 50%;
    background-size: cover;
    background-position: center;
  }

  .img-pc--left {
    background-image: url('../../public/barber-cut-10.avif');
    width: 50%;
    background-size: cover;
    background-position: center;
  }

  .services-info--pc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 2rem 4rem;
  }

  /* .services-info-info--pc {
    padding-bottom: 6rem;
  } */

  .services-img--pc {
    width: 100%;
  }

  .name-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nombre {
    font-size: 2.4rem;
    color: #222;
  }

  .precio {
    padding: 1rem 3rem;
    background-color: #efb810;
    color: #222;
    font-size: 2.4rem;
    font-weight: 400;
  }

  .descripcion {
    padding: 2rem 0;
    font-size: 2.2rem;
    letter-spacing: 1px;
    color: #222;
  }
}
