.main {
  padding: 0 5rem;
}

.heading-primary {
  font-size: 3rem;
  margin: 2rem 0;
  font-size: var(--page-title-size);
  padding-top: 2rem;
  color: #efb810;
  color: #ddd;
  font-weight: 700;
  text-align: center;
}

.heading-secondary {
  font-size: 2.2rem;
}

.services-title {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
}

.section-services--mobile {
  padding: 3rem;
  max-width: 50rem;
  margin: auto;
}

.section-services--pc {
  padding: 3rem;
}

.services-service {
  margin: 2.6rem auto 5rem;
}

.services-service div img {
  max-width: 100%;
  height: auto;
}

.services-service div:first-child {
  position: relative;
}

.services-service div:first-child:after {
  content: '$1000';
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -6%;
  right: -5%;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  background-color: #efb810;
  padding: 10px 20px;
}

.services-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem;
}

.more-info-btn {
  font-size: 2rem;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 50%;
  padding: 1.4rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.section-services--pc {
  display: none;
}

@media (max-width: 480px) {
  .main {
    padding: 0 1rem;
  }
}

@media (min-width: 768px) {
  .main {
    /* background-color: #fff; */
  }

  .section-services--mobile {
    display: none;
  }

  .section-services--pc {
    display: block;
    max-width: 114rem;
    margin: auto;
  }

  .services-service--pc {
    display: flex;
    height: 75rem;
    margin-bottom: 6rem;
  }

  .img-pc--right {
    background-image: url('../../public/barber-cut-7.avif');
    width: 50%;
    background-size: cover;
    background-position: center;
  }

  .img-pc--left {
    background-image: url('../../public/barber-cut-10.avif');
    width: 50%;
    background-size: cover;
    background-position: center;
  }

  .services-info--pc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 2rem 4rem;
  }

  /* .services-info-info--pc {
    padding-bottom: 6rem;
  } */

  .services-img--pc {
    width: 100%;
  }

  .name-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nombre {
    font-size: 2.8rem;
    color: #222;
    color: var(--heading-light);
  }

  .precio,
  .precio:link,
  .precio:active {
    padding: 1rem 3rem;
    background-color: #efb810;
    background-color: var(--main-color);
    color: #222;
    color: var(--heading-light);
    font-size: 2.4rem;
    font-weight: 400;
    border: none;
  }

  .precio:hover {
    padding: 1rem 3rem;
    background-color: #222;
    color: #efb810;
    color: var(--main-color);
    font-size: 2.4rem;
    font-weight: 400;
    border: none;
    transform: translateX(-5%);
  }

  .descripcion {
    padding: 2rem 0;
    font-size: 2.2rem;
    letter-spacing: 1px;
    color: #222;
    color: var(--text-light);
  }
}
