/* ////////// */
/* GRAL */
/* ////////// */
footer {
  margin-top: 200px;

  background-color: #292929;
  color: #fff;
  padding: 0 1rem;
  padding-top: 30px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4rem 0;
}

.links-footer-desktop {
  width: 30%;
  list-style: none;
  text-align: center;

  display: none;
}

/* ////////// */
/* LOGOS */
/* ////////// */

.footer-logos {
  width: 30%;
  text-align: center;
}

.footer-logos-img {
  width: 80%;
  max-width: 20rem;
}

/* ////////// */
/* INFO */
/* ////////// */
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  text-align: center;
  list-style: none;
}

.footer-info li {
  font-size: 2rem;
}

.footer-info li a {
  text-decoration: none;
  color: #fff;
}

.footer-info svg {
  font-size: 2rem;
}

/* ////////// */
/* COPY */
/* ////////// */
.footer-copy {
  text-align: center;
  color: rgba(255, 255, 255, 0.521);

  padding-bottom: 5px;
}

/* ////////// */
/* DECO */
/* ////////// */

@media (min-width: 768px) {
  .links-footer-desktop {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer-copy {
    text-align: right;
  }
}
