header {
  position: sticky;
  /* position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);

  top: 8rem; */
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* padding: 20px 5%; */
  /* padding: 0 30px !important;
  border-radius: 5px; */
  /* padding: 0 20px; */
  background-color: #292929;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.mobile-header-logo {
  height: 7rem;
}

.header-logo {
  height: 10rem;
  display: none;
}

.mobile-header-logo img,
.header-logo img {
  height: 100%;
}

.header-nav {
  display: none;
  list-style: none;
  font-size: 2rem;
}

.heading-primary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}

.nav-btn {
  color: #fff;
  width: 5rem;
  height: 5rem;
}

@media (min-width: 768px) {
  header {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .header-logo {
    display: block;
    width: 10rem;
  }

  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .nav-btn,
  .mobile-header-logo {
    display: none;
  }
}
