header {
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 5%;
  padding: 10px 20px;
  background-color: #292929;

  /* border-bottom: 1px solid #888; */
}

.mobile-header-logo {
  height: 7rem;
  /* height: 100%; */
}

.header-logo {
  height: 10rem;
}

.mobile-header-logo img,
.header-logo img {
  height: 100%;
}

.header-nav {
  display: none;
  list-style: none;
  font-size: 2rem;
}

.heading-primary {
  font-size: 3rem;
  /* font-style: italic; */
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}

.nav-btn {
  color: #fff;
  /* font-size: 5rem; */
  width: 5rem;
  height: 5rem;
}

@media (min-width: 768px) {
  header {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .header-logo {
    /* margin: 0 auto; */
    width: 10rem;
  }

  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    gap: 2rem;
  }

  .nav-btn,
  .mobile-header-logo {
    display: none;
  }
}
