@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
  --main-color: #ff8c00;
  --main-color-dark: #cc7000;
  --secondary-color: #ff5c00;
  --lightest-gray: #ebebeb;
  --darkest-gray: #222;
  --dark-gray: #444;
  --font-regular: #666;
  --heading-light: #eee;
  --text-light: #ccc;
  --page-title-size: 4rem;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif', sans-serif;
  font-family: 'Source Serif Pro', sans-serif;
}

body {
  background-color: #333;
}

h1 {
  font-size: 2.8rem;
  font-weight: 600;
  color: #444;
}

h2 {
  font-size: 2.4rem;
  color: #444;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #444;
}

p {
  font-size: 1.8rem;
}

button {
  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
  /* background-color: var(--main-color); */
}

.nav-link,
.nav-link-btn,
.nav-link--pending,
.nav-link--active,
.nav-link-btn--pending,
.nav-link-btn--active {
  font-family: 'Source Serif Pro', sans-serif;
  font-weight: 300;
  font-weight: 500;
  text-decoration: none;
  font-size: 2.4rem;
}

.nav-link,
.nav-link-btn {
  color: #ddd;
  transition: all ease-out 0.2s;
}

.nav-link-btn,
.nav-link-btn--pending,
.nav-link-btn--active {
  letter-spacing: 1px;
}

.nav-link:hover {
  color: var(--secondary-color);
  color: #f16f26;
}

.nav-link--pending {
  color: #222;
}

.nav-link--active {
  /* font-weight: 600; */
  color: var(--secondary-color);
  color: #f16f26;
}

.nav-link-btn--pending,
.nav-link-btn--active {
  color: var(--secondary-color);
  color: #f16f26;
}

/* //////////// */
/*    SWIPER    */
/* //////////// */

/* HERO SLIDER */

.hero-slide {
  position: relative;
}

.hero-slide img {
  object-fit: cover;
  object-position: top;
  height: calc(100vh - 98px);
  height: 100vh;
  width: 100%;
  /* transform: translateY(-10rem); */
}

/* Gradient for hero slider */
.hero-slide::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(153, 51, 20, 0.4),
    rgba(71, 0, 0, 0.2)
  );
  background: linear-gradient(
    to bottom,
    rgba(90, 28, 9, 0.502),
    rgba(57, 8, 8, 0.307)
  );
}

/* TESTIMONIALS SLIDER */
.testimonial-slide {
  /* min-height: 10rem; */
  /* height: fit-content;
  background-color: #fff; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  height: fit-content;
  min-height: 30rem;
  width: 100%;
  background-color: #ebebeb;
  background-color: #222;
  padding: 2rem;
}

.testimonial-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 7rem;
  height: 10rem;
  flex-grow: 30%;
  margin-right: 2rem;
  border: 1px solid white;
}

.testimonial-slide p {
  color: var(--text-light);
  width: 70%;
}

/* NAVIGATION BULLETS (AFFECTS BOTH SLIDERS) */
span.swiper-pagination-bullet {
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--main-color);
}

div.swiper-button-prev,
div.swiper-button-next {
  color: var(--main-color);
}

@media (max-width: 480px) {
  div.swiper img {
    height: 40% !important;
  }
}
@media (max-width: 768px) {
  div.swiper-button-prev,
  div.swiper-button-next {
    display: none;
  }
}
@media (min-width: 768px) {
  .testimonial-slide {
    /* width: 50vw;
    margin: 0 auto; */
    flex-direction: column;
    min-height: 42rem;
  }
  .testimonial-img {
    height: 20rem;
    min-width: 14rem;
    margin: 0;
  }
  .testimonial-slide p {
    text-align: center;
    font-size: 2rem;
    width: 50%;
    margin: 4rem 0;
  }
}
