@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif', sans-serif;
  font-family: 'Source Serif Pro', sans-serif;
}

:root {
  --main-color: #ff8c00;
  --main-color-dark: #cc7000;
  --secondary-color: #ff5c00;
  --lightest-gray: #ebebeb;
  --darkest-gray: #222;
  --dark-gray: #444;
  --font-regular: #666;
}

h1 {
  font-size: 2.8rem;
  font-weight: 600;
  color: #444;
}

h2 {
  font-size: 2.4rem;
  color: #444;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #444;
}

p {
  font-size: 1.8rem;
}

button {
  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: var(--main-color);
}

.nav-link,
.nav-link-btn,
.nav-link--pending,
.nav-link--active,
.nav-link-btn--pending,
.nav-link-btn--active {
  font-family: 'Source Serif Pro', sans-serif;
  font-weight: 300;
  text-decoration: none;
  font-size: 2.4rem;
}

.nav-link,
.nav-link-btn {
  color: #fff;
  transition: all ease-out 0.2s;
}

.nav-link-btn,
.nav-link-btn--pending,
.nav-link-btn--active {
  letter-spacing: 1px;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.nav-link--pending {
  color: #222;
}

.nav-link--active {
  font-weight: 600;
  color: var(--secondary-color);
}

.nav-link-btn--pending,
.nav-link-btn--active {
  color: var(--secondary-color);
}
